* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  background-color: lightblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: 100px 2fr auto 100px;
  grid-template-columns: 100%;
}

h1,
h2 {
  margin: 20px auto;
  text-align: center;
}

section {
  max-width: 80%;
  margin: auto;
}

.bingo {
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: 5px solid green;
  background-color: lightskyblue;
  border-radius: 5px;
  position: relative;
}

#previous-numbers-counter {
  position: absolute;
  top: 5px;
  right: 10px;
}

#start-game {
  font-size: 3rem;
}

#random-number.started {
  font-size: 100px;
  width: 160px;
  height: 160px;
  line-height: 1em;
  background: red;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  border: 10px solid green;
}

#previous-numbers {
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 10px;
  background-color: lightskyblue;
  border: 5px solid green;
  border-radius: 5px;
}

#generate-random-number {
  padding: 10px 15px;
  background-color: rebeccapurple;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
